<div class="container">
    <h1> Privacy </h1>
    <p> This privacy page help you to understand what data we collect from you and here we tell how we will use collected data. We respect your privacy and we don't share your personal data to third party.</p>
    <h2> Cookies</h2>
    <p> We use cookies for provide better service, example make possible remember some settings and keep you logged in to website. Here is list of cookies our website and description how we use this cookie to provide better service. </p>
    <table class="table">
        <thead>
            <tr>
                <th> Cookie Name</th>
                <th>Used for</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> show</td>
                <td> On home page remember how to show devices: card/list</td>
            </tr>
            <tr>
                <td>_Secure-sess</td>
                <td>Login session cookie.</td>
            </tr>
            <tr>
                <td>deny_consent</td>
                <td>Remember your denied consent</td>
            </tr>
            <tr>
                <td> _pk_ref, _pk_cvar, _pk_id, _pk_ses </td>
                <td>These are for Matomo Analytics cookies for tracking. More details in <a target="_blank" rel="noopener" href="https://matomo.org/faq/general/faq_146/">Matomo website </a>.</td>
            </tr>
            <tr>
                <td>sentrysid, sc</td>
                <td>These are Sentry cookies for track sessions.</td>
            </tr>
            <!-- <tr>
                <td>mtm_consent and mtm_consent_removed</td>
                <td>These consent cookies are Matomo Analytics cookie for remember your consent settings. More details in <a target="_blank" rel="noopener" href="https://matomo.org/faq/general/faq_146/">Matomo website </a>.</td>
            </tr> -->
            <tr>
                <td> _cflb, _cf_bm, and _cfduid</td>
                <td> These are CloudFlare's own cookie. These cookies are used for load balancing and routing in CloudFlare networks. More details in <a target="_blank" rel="noopener" href="https://support.cloudflare.com/hc/en-us/articles/200170156-Understanding-the-Cloudflare-Cookies">CloudFlare website</a>.</td>
            </tr>
            <tr>
                <td>hmt_id and hc_accessibility</td>
                <td>These are hCaptcha own cookies. More details in <a target="_blank" rel="noopener" href="https://www.hcaptcha.com/privacy">hCaptcha Privay Policy</a>.</td>
            </tr>
        </tbody>
    </table>
    <h2>Contribute</h2>
    <p> Our Contribute -form collect only your own submit data. Email-address is optional and used only for notify you when your log data is processed and updated to our site and for contacting to you for extra informations. We don't share your email address to third party.</p>
    <p>Some of logging method's may record personal informations like location and communication data. We only collect UE Capability Information, 0xB0CD, 0xB826 and PRE_CA_COMB_INFO messages from the log file.</p>
    <p>The form have third party user verification hCaptcha what collect some informations. More details in their <a target="_blank" rel="noopener" href="https://www.hcaptcha.com/privacy">hCaptcha Privay Policy</a>.</p>
    <h2> Analytics</h2>
    <h3> Matomo Analytics </h3>
    <p> This website have Self-Hosted <a target="_blank" rel="noopener" title="Matomo Analytics" href="https://matomo.org/"> Matomo Analytics</a> to help us analyze what our users do our website. We don't use or share data to any third party services so your data is safe in our servers. </p>
    <ul>
        <li> IP-address (this will anonymize to format 192.168.0.0 (last two octect will be 0 always)</li>
        <li> Visit time</li>
        <li> Browser User-agent ID, example Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0</li>
        <li> Referrer information, where did you come to our website </li>
        <li> Information about operating system, version and screen size</li>
    </ul>
    <p> If you have enabled Do not track feature on your browser settings, we don't track you when you visit our website. You can also opt-out tracking below.</p>
    <div class="embed-responsive matomo-iframe-light" style="min-height: 200px;">
        <iframe class="embed-responsive-item embed-responsive-16by9"
        style="border: 0;"
        src="https://analytics.truong.fi/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=&fontSize=&fontFamily=-apple-system%2CBlinkMacSystemFont%2C%22Segoe%20UI%22%2CRoboto%2C%22Helvetica%20Neue%22%2CArial%2C%22Noto%20Sans%22%2Csans-serif%2C%22Apple%20Color%20Emoji%22%2C%22Segoe%20UI%20Emoji%22%2C%22Segoe%20UI%20Symbol%22%2C%22Noto%20Color%20Emoji%22"
        ></iframe>
    </div>
    <div class="embed-responsive matomo-iframe-dark" style="min-height: 200px;">
        <iframe class="embed-responsive-item embed-responsive-16by9"
        style="border: 0;"
        src="https://analytics.truong.fi/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=FAFAFA&fontSize=&fontFamily=-apple-system%2CBlinkMacSystemFont%2C%22Segoe%20UI%22%2CRoboto%2C%22Helvetica%20Neue%22%2CArial%2C%22Noto%20Sans%22%2Csans-serif%2C%22Apple%20Color%20Emoji%22%2C%22Segoe%20UI%20Emoji%22%2C%22Segoe%20UI%20Symbol%22%2C%22Noto%20Color%20Emoji%22"
        ></iframe>
    </div>
    <h3>CloudFlare Web Analytics</h3>
    <p>We use CloudFlare Analytics to measure website loading speed and to count how many users visit on our site. The data will be saved to CloudFlare's own server. More details about <a target="_blank" rel="noopener" href="https://developers.cloudflare.com/analytics/web-analytics">Web Analytics</a>.</p>
    <h2> Error Monitoring </h2>
    <p> This website uses a self-hosted instance of <a target="_blank" rel="noopener" href="https://sentry.io">Sentry</a> to help us to monitor any issues on our website. For Example, if a website component malfunctions and presents an error on the user-facing end of the site. If an error occurs you can optionally submit your name, e-mail address and a description of the error to help us to easily replicate the error and fix the issue. All data is anonymous by default, we don't collect personal information. We don't use or share data to any third party services so your data is safe in our servers.
    </p>
    <p> Data we collect:</p>
    <ul>
        <li>Evend ID (randomly generated)</li>
        <li>Browser User-Agent ID, example example Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0</li>
        <li>Referral Information</li>
        <li>SDK Name and version, example sentry.javascript.browser 5.30.0</li>
        <li>Current site address</li>
        <li>Error exeption message</li>
        <li>Breakdumps, what happened to cause this error</li>
    </ul>

    <!-- <h2> Change your Consent</h2>
    <p> All Cookies include all cookies, also analytics. Essential Cookies include all functional cookies exept tracking.
    <div class="form-inline">
        <button class="btn btn-primary toolbar" (click)="acceptConsent()"> Accept All Cookies </button> 
        <button class="btn btn-secondary toolbar" (click)="denyConsent()"> Accept Essential Cookies</button>
    </div>
    <br />
    <ngb-alert class="alert-status" type="info" [dismissible]="false">
        Currently you have <ng-container *ngIf="this.consent == true">accepted all cookies</ng-container><ng-container *ngIf="this.consent == false">have accepted essential cookies but not tracking cookies</ng-container>.
    </ngb-alert>
    <br /> -->
    <h2> Data Location</h2>
    <p> We save all data in European Union (EU), but we can't quarantee the third party like CloudFlare and hCaptcha save data in EU.</p>
    <h2> Contact</h2>
    <p> If you have any question, please contact to <a href="mailto:combos@cacombos.com"> combos@cacombos.com</a>.</p>
</div>